<div class = "list" ng-init = "passagem = true;saida = true;luzCapitao = true;luzConves = false">
	<div class="item" >   

	<button class="btn btn-xs btn-default" ng-show= "luzCapitao"
		ng-click="comandoLuzCapitao(0);luzCapitao = false" >{{acionamentos[4].texto}}</button> 
		<button class="btn btn-xs btn-default" ng-show= "!luzCapitao"
		ng-click="comandoLuzCapitao(1);luzCapitao = true" >{{acionamentos[5].texto}}</button>


	<button class="btn btn-xs btn-default" ng-show= "luzConves"
		ng-click="comandoLuzConves(0);luzConves = false" >{{acionamentos[2].texto}}</button> 
		<button class="btn btn-xs btn-default" ng-show= "!luzConves"
		ng-click="comandoLuzConves(1);luzConves = true" >{{acionamentos[3].texto}}</button>


		
		<button class="btn btn-xs btn-default" ng-show= "passagem"
		ng-click="comandoPassagem(1);passagem = false"
		>{{acionamentos[0].texto}}</button>
		<button class="btn btn-xs btn-default" ng-show= "!passagem"
		ng-click="comandoPassagem(0);passagem = true"
		>{{acionamentos[1].texto}}</button>


		
		

		<button class="btn btn-xs btn-default" ng-show= "saida"
		ng-click="comandoSaida(1);saida = true">{{acionamentos[6].texto}}</button> 
		<!--button class="btn btn-xs btn-default"  ng-show= "!saida"
		ng-click="comandoSaida(0); saida = true">{{acionamentos[7].texto}}</button--> 
	</div>


</div>

