<div class = "list">
	 <div class="item" >    
	              <button class="btn btn-md btn-default"
	              ng-click="imprimir(acionamentos[0])"
	               >{{acionamentos[0].texto}}</button>
	              <button class="btn btn-md btn-default"
	              ng-click="imprimir(acionamentos[1])" >{{acionamentos[1].texto}}</button> 
	              <button class="btn btn-md btn-default"
	              ng-click="imprimir(acionamentos[2])" >{{acionamentos[2].texto}}</button>  
	              <button class="btn btn-md btn-default" 
	              ng-click="imprimir(acionamentos[3])">{{acionamentos[3].texto}}</button> 
	 </div>

 </div>

  