<div class = "list">
	<div class="item" >    
	<button class="btn btn-sm btn-default"
	ng-click="tocarObjetos()" >{{alertas[1].texto}}</button> 
	<button class="btn btn-sm btn-default"
	ng-click="tocarGarrafas()" >{{alertas[0].texto}}</button> 
	<audio media-player="audioObjetos" data-playlist="playlistObjetos">
	<source src="/sounds/objetos.mp3" type="audio/mp3">
	</audio>
	<audio media-player="audioGarrafas" data-playlist="playlistGarrafas">
	<source src="/sounds/garrafas.mp3" type="audio/mp3">
	</audio>
	
	</div>
</div>

