<div class="container">
<h2>Buttons Group</h2>
<div class="btn-group">
 <button type="button" class="btn btn-primary">One</button>
 <button type="button" class="btn btn-success">Two</button>
 <button type="button" class="btn btn-info">Three</button>
 <button type="button" class="btn btn-warning">Four</button>
 <button type="button" class="btn btn-danger">Five</button>
</div>
<h2>Buttons Checkbox</h2>
<div class="btn-group" data-toggle="buttons-checkbox">
 <button type="button" class="btn btn-primary">Checkbox One</button>
 <button type="button" class="btn btn-default">Checkbox Two</button>
 <button type="button" class="btn btn-default">Checkbox Three</button>
 <button type="button" class="btn btn-default">Checkbox Four</button>
 <button type="button" class="btn btn-default">Checkbox Five</button>
</div>
<h2>Buttons Radio</h2>
<div class="btn-group" data-toggle="buttons">
 <button class="btn btn-default">
 <input type="radio" name="options">Option One</button>
 <button class="btn btn-default">
 <input type="radio" name="options">Option Two</button>
 <button class="btn btn-default">
 <input type="radio" name="options">Option Three</button>
</div>
</div>